{% include 'home.html' %}
{% include 'booksearch.html' %}
{% load bootstrap_icons %}
<div class="container mt-3">
  <div class="row">
      <div class="col">
        <a href="/booktable/" class="btn btn-success">{% bs_icon 'table' %}ตาราง</a>
        <a href="/booklist/" class="btn btn-success">{% bs_icon 'card-list' %}การ์ด</a>
      </div>
      <div class="col">
        {% comment %} <a href="/booklist/" class="btn btn-warning">การ์ด</a> {% endcomment %}
      </div>
  </div>
  <p></p> 
  <h3>รายการจองใช้งานห้องโสตทัศนศึกษา</h3>
  {% for fetch_book in book_detail %}
  <div class="card">
      <div class="card-header">#{{fetch_book.book_id}} วันที่ {{fetch_book.sdate}}</div>
      <div class="card-body">
        <h5 class="card-title">{{fetch_book.room_id.room_name}} เพื่อ {{fetch_book.purposename}}</h5>
        <p class="card-text">
          เริ่มเวลา : {{fetch_book.stime}} น. , ถึงเวลา : {{fetch_book.etime}} น.
          <br>
          ผู้จอง : {{fetch_book.txtusername}}
          <br>
          โทร <a href="#" class="btn btn-danger"> {{fetch_book.txttel}} </a> <a href="/bookdetail/{{fetch_book.book_id}}" class="btn btn-primary"> รายละเอียด </a>
        </p>
      </div>
  </div>
    {% endfor %}
    <div class="mt-4 p-5 bg-white text-white rounded">
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
</div>