{% extends "home.html" %}
{% block content %}
<div class="container mt-3">
  {% if state == 'fail' %} 
  <button onclick="history.back()" class="btn btn-danger">กลับ</button>
  {% elif state == 'success' %} 
  <a href="/booklist" class="btn btn-info"><i class="fa-regular fa-rectangle-list"></i>รายการจอง</a>
  {% endif %}
  <h3>แบบฟอร์มจองใช้งานห้องโสต</h3>
  <p>กรุณากรอกข้อมูลให้ครบถ้วน</p>
  <form action="" class="was-validated" method="post" onsubmit='validateForm()'> 
    {% csrf_token %}
    <div class="col-md-3">
      <label for="validationCustom01" class="form-label"
        >เลือกห้องที่ต้องการจอง</label
      >
      <select
        class="form-select"
        id="validationCustom01"
        id="room_name"
        name="room_name"
        required
      >
        <option selected disabled value="">เลือก</option>
        {% for i in room_get %}
        <option value="{{ i.room_id }}">{{ i.room_name }}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">กรุณาเลือกห้องที่ต้องการจอง</div>
    </div>
    <p></p>
    <div class="col-md-3">
      <label for="validationCustom02" class="form-label"
        >จุดประสงค์การใช้งาน</label
      >
      <select
        class="form-select"
        id="validationCustom02"
        id="purposename"
        name="purposename"
        required
      >
        <option selected disabled value="">เลือก</option>
        <option>ประชุม</option>
        <option>อบรม</option>
        <option>จัดการเรียนการสอน</option>
        <option>รับการประเมิน</option>
        <option>รับคณะศึกษาดูงาน</option>
        <option>อื่นๆ</option>
      </select>
      <div class="invalid-feedback">กรุณาเลือกจุดประสงค์การใช้งาน</div>
    </div>

    <div class="mb-3 mt-3">
      <label for="txtonfloor" class="form-label"
        >ข้อความที่ใช้แสดงบนจอภาพบนเวที</label
      >
      <input
        type="text"
        class="form-control"
        id="txtonfloor"
        placeholder="ระบุข้อความ"
        name="txtonfloor"
        required
      />
      <div class="invalid-feedback">
        ข้อความที่ใช้แสดงบนจอภาพ หรือ - และติดต่อเจ้าหน้าที่
      </div>
    </div>

    <div class="col-md-3">
      <div class="row">
        <div class="col">
          <label for="txtonfloor" class="form-label">จองวันที่</label>
          <input
            type="date"
            class="form-control"
            id="sdate"
            placeholder="ระบุข้อความ"
            name="sdate"
            required
          />
        </div>
      </div>
    </div>

    
{% comment %}       <div class="col">
        <label for="stime" class="form-label">เริ่มเวลา</label>
        <input
          type="time"
          class="form-control"
          id="stime"
          name="stime"
          required
        />
        <div class="invalid-feedback">A.M.(ก่อนเที่ยง)P.M.(หลังเที่ยง)</div>
      </div>
      <div class="col">
        <label for="etime" class="form-label">ถึงเวลา</label>
        <input
          type="time"
          class="form-control"
          id="etime"
          name="etime"
          required
        />

        <div class="invalid-feedback">A.M.(ก่อนเที่ยง)P.M.(หลังเที่ยง)</div>
      </div> {% endcomment %}
{% comment %} timerange input {% endcomment %}
<p></p>
    <div class="row g-3">
      <div class="col-md-6 offset-md-0">
        <label for="stimeRange" class="form-label">เริ่มเวลา :</label>
        <input type="range" class="form-range" min="465" max="1200" step="15" id="stimeRange" name="stime" value="0">
        <p class="mt-0">เวลา : <span id="selectedsTime"></span></p>
        
      </div>
      <div class="col-md-6 offset-md-0">
        <label for="etimeRange" class="form-label">จนถึงเวลา :</label>
        <input type="range" class="form-range" min="465" max="1200" step="15" id="etimeRange" name="etime" value="0">
        <p class="mt-0">เวลา : <span id="selectedeTime"></span></p>
      </div>
    </div>
{% comment %} timerange input {% endcomment %}
    <div class="mb-3 mt-3">
      <label for="txtusername" class="form-label">ชื่อ - สกุลผู้จอง</label>
      <input
        type="text"
        class="form-control"
        id="txtusername"
        placeholder="ระบุข้อความ"
        name="txtusername"
        value="{{user.first_name}} {{user.last_name}}"
        required
      />
      <div class="invalid-feedback">ระบุชื่อด้วย</div>
    </div>

    <div class="mb-3 mt-3">
      <label for="txttel" class="form-label">เบอร์โทร</label>
      <input
        type="tel"
        class="form-control"
        id="txttel"
        placeholder="ระบุข้อความ"
        name="txttel"
        required
      />
      <div class="invalid-feedback">ระบุเบอร์โทรศัพท์ที่ติดต่อได้</div>
    </div>

    <div class="mb-3 mt-3">
      <label for="other" class="form-label">เพิ่มเติม</label>
      <input
        type="txt"
        class="form-control"
        id="other"
        placeholder="ระบุข้อความ"
        name="other"
        required
      />
      <div class="invalid-feedback">ระบุความต้องการอื่นๆ</div>
    </div>
    <input type="hidden" name="email" value="{{user.email}}">
    <button type="submit" class="btn btn-primary">ยืนยัน</button> <button onclick="history.back()" class="btn btn-danger">กลับ</button>
  </form>
  <div class="mt-4 p-5 bg-white text-white rounded">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
  const timeRange = document.getElementById("stimeRange");
  const selectedTime = document.getElementById("selectedsTime");

  timeRange.addEventListener("input", function () {
    const minutes = parseInt(this.value, 10);
    const hours = Math.floor(minutes / 60);
    const mins = minutes % 60;
    const ampm = "น.";
    const displayHours = hours % 24 === 0 ? 24 : hours % 24;
    const displayMinutes = mins < 10 ? "0" + mins : mins;

    selectedsTime.innerText = `${displayHours}:${displayMinutes} ${ampm}`;
  });
});
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
    const timeRange = document.getElementById("etimeRange");
    const selectedTime = document.getElementById("selectedeTime");
  
    timeRange.addEventListener("input", function () {
      const minutes = parseInt(this.value, 10);
      const hours = Math.floor(minutes / 60);
      const mins = minutes % 60;
      const ampm = "น.";
      const displayHours = hours % 24 === 0 ? 24 : hours % 24;
      const displayMinutes = mins < 10 ? "0" + mins : mins;
  
      selectedeTime.innerText = `${displayHours}:${displayMinutes} ${ampm}`;
    });
  });
    </script>

    {% endblock content %}