{% extends "home.html" %} {% block content %}
<nav class="navbar">
  <!-- Illustrations -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-success">
        <i class="fa fa-gear" aria-hidden="true"></i> ตั้งค่าระบบ
      </h6>
    </div>
    <div class="card-body">
      <div class="text-center"></div>
      <p>
        <a class="btn btn-primary btn-md" href="/room" role="button"
          ><i class="fa fa-building" aria-hidden="true"></i> จัดการข้อมูลห้อง</a
        ></p>
        <p>
        <a class="btn btn-primary btn-md" href="/manageuser" role="button"
          ><i class="fa fa-user" aria-hidden="true"></i>
          จัดการข้อมูลผู้ใช้งานระบบ</a
        ></p>
        <p>
        <a class="btn btn-primary btn-md" href="/managebook" role="button"
        ><i class="fa fa-book" aria-hidden="true"></i>
        จัดการข้อมูลการจอง</a
      >
      </p>
    </div>
  </div>
</nav>
{% endblock content %}
