{% load static %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}RoomBook{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" >
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    {% comment %} fix top navbar {% endcomment %}
    <nav class="navbar navbar-expand-md bg-success navbar-dark fixed-top">
      <div class="container-fluid">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="/"> {% bs_icon 'house' %} งานสื่อ@LoeiTech</a>
      </li>
    </ul>
  </div>
    </nav>
    {% comment %} nav tab {% endcomment %}
    

    {% comment %} fix bottom nav bar {% endcomment %}
    <nav class="navbar navbar-expand-md bg-success navbar-dark fixed-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">เมนู</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavbar"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/booklist/' %}active{% endif %}" href="/booklist"> {% bs_icon 'card-list' %} รายการจอง</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/bookform/' %}active{% endif %}" href="/bookform"> {% bs_icon 'journal-plus' %} จองห้อง</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#">กำลังใช้งานในชื่อ {{user.first_name}} {{user.last_name}}
              </a>
            </li>
            {% endif %} {% if user.is_authenticated %}
            <li class="nav-item dropdown">
            <a href="{% url 'logout' %}" class="btn btn-danger"> {% bs_icon 'box-arrow-in-left' %} ออกจากระบบ</a>
            </li>
            {% else %}
            <li class="nav-item dropdown">
            <a class="nav-link" href="/showlogin"> {% bs_icon 'box-arrow-in-right' %} เข้าสู่ระบบ</a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% comment %}
        <ul class="navbar-nav">
          {% endcomment %} {% comment %}
        </ul>
        {% endcomment %}
      </div>
    </nav>
    <div class="container">
      <br />
      <br />
      {% if user.is_authenticated %}
      <div class="alert alert-success">
        <strong>สำเร็จ</strong> ยินดีต้อนรับ  <a href="#" class="alert-link">{{user.first_name}} {{user.last_name}}</a>
      </div>
      {% endif %}
      {% bootstrap_messages %} 
      {% block content %}



      {% endblock content %}
    </div>
  </body>
</html>