{% extends "home.html" %}
{% block content %}
<br><br>
<a class="btn btn-danger btn-md " href="/goconfig" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> กลับ</a>
<div class="container mt-3">
  <div class="row">
    <div class="col">
    {% include "tools.html" %}
    </div>
    <div class="col">
      {% comment %} <a href="/booklist/" class="btn btn-warning">การ์ด</a> {% endcomment %}
    </div>
  </div><p></p>
  <h3>รายการจองใช้งานห้องโสตทัศนศึกษา</h3>
  <table class="table table-hover table-sm">
  <thead class="table-light">
  {% comment %} <th>#</th> {% endcomment %}
  <th>วันที่</th>
  <th>ห้อง</th>
  <th>เวลา</th>
  <th>ผู้จอง</th>
  <th>ดำเนินการ</th>
  </thead> <tbody>
  {% for fetch_book in book_detail %}
   
  <tr>
    {% comment %} <td>{{fetch_book.book_id}}</td> {% endcomment %}
    <td>{{fetch_book.sdate}}</td>
    <td>{{fetch_book.room_id.room_name}}</td>
    <td>{{fetch_book.stime}} {{fetch_book.etime}}</td>
    <td>{{fetch_book.txtusername}}</td>
    <td>
      <a href="#" class="btn btn-danger"> {{fetch_book.txttel}} </a> 
      <a href="/bookdetail/{{fetch_book.book_id}}" class="btn btn-primary"> รายละเอียด </a>
      <a class="btn btn-warning " href="/edit_book/{{fetch_book.book_id}}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i> แก้ไข</a>
    </td>
  </tr>  
  
  {% endfor %}
</tbody>
</table>
  <div class="mt-4 p-5 bg-white text-white rounded">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
</div>
{% endblock content %}