{% extends "home.html" %}
{% block content %}
<div class="container mt-3">
  <div class="row">
    {% include "tools.html" %}
  </div>
  <p></p> 
  <h3>ประวัติการจอง</h3>
  {% for fetch_book in book_detail %}
  <div class="card">
      <div class="card-header">#{{fetch_book.book_id}} วันที่ {{fetch_book.sdate}}</div>
      <div class="card-body">
        <h5 class="card-title">{{fetch_book.room_id.room_name}} เพื่อ {{fetch_book.purposename}}</h5>
        <p class="card-text">
          เริ่มเวลา : {{fetch_book.stime}} น. , ถึงเวลา : {{fetch_book.etime}} น.
          <br>
          ผู้จอง : {{fetch_book.txtusername}}
          <br>
          โทร <a href="#" class="btn btn-danger"> {{fetch_book.txttel}} </a> <a href="/bookdetail/{{fetch_book.book_id}}" class="btn btn-primary"> รายละเอียด </a>
        </p>
      </div>
  </div>
    {% endfor %}
</div>
{% endblock content %}